<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>資產信息</title>
</head>
<body >
    {%include 'belowBar.html'%}
    <div id="detailContainerOut">
        <div id="detailContainerIn">
            <div  id="infoBlock">
                <h1>Asset Info</h1>
                <p>Asset Name:<span id="name">{{data.asset_name}}</span></p>
                <p>Address: <span id="address">{{data.address}}</span></p>
                <p>Owner: <span id="owner">{{data.owner}}</span></p>
                <p>Price: <span id="price">{{data.price}}</span> uUSDT</p>
                <p>Current Gas Price: <span id="gasPrice">{{gas_price}}</span> Wei/Unit</p>
                <p style='display:none'>Current Available: <span id="available">{{data.available}}</span></p>
                
                <hr style="border-top: 1px dashed #bbb;"> 
                <button class="ButtonBase purchaseButton" id="{{data.address}}">Purchase</button>
                <p id='noAvailableText'style='color:red'>The Asset is not available for you to purchase.<p>


            </div>
            <div id="ownerBlock">
                <h1>Owner Block</h1>
                <p>
                    <input type='number' name="newPrice" id="newPrice" min=0 placeholder='Enter New Price' value={{data.price}}> 
                    <button class="ButtonBase" id="updatePriceButton">Update</button>
                </p>
                <hr style="border-top: 1px dashed #bbb;"> 
                <p>
                    {% if data.available == True %}

                    <input type="radio" name='available' id='availableTrue' value="True" checked>
                    <label for="availableTrue">Available</label>
                    <input type="radio" name='available' id='availableFalse' value="False">
                    <label for="availableFalse">Not Available</label>
                    {% else %}
                    <input type="radio" name='available' id='availableTrue' value="True">
                    <label for="availableTrue">Available</label>
                    <input type="radio" name='available' id='availableFalse' value="False" checked>
                    <label for="availableFalse">Not Available</label>
                    {% endif %}

                    <button class="ButtonBase" id="updateAvailableButton">Update</button>
                </p>
                <hr style="border-top: 1px dashed #bbb;"> 
                
            </div>
        </div>
    </div>
        







</body>
</html>