<!DOCTYPE html>
<html>
<head>
  <title>Asset Lottery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="detailContainerOut">

    <div id="detailContainerIn">
        <div id="historyBlock">
    <h1>Asset Lottery</h1>
    <form>
    <input style="display: none;" type="text" name="generateReq" value="True">
    <input type="text" name="targetAddress" placeholder="targetAddress 0x???" required value="{{previousTarget}}">
    <input type="submit" value="Generate">
    </form>
    {% if metadata%}
    <form>
        <input style="display: none;" type="text" name="rarity" value="{{metadata.rarity}}" required>
        <input style="display: none;" type="text" name="asset" value="{{metadata.asset}}" required>
        <p>Congratulations!</p>
        <table>
            <tbody>
            <tr>
                <th>Rarity</th><td>{{metadata.rarity}}</td>
            </tr>
            <tr>
                <th>Asset Name</th><td>{{metadata.name}}</td>
            </tr>
            <tr>
              <th>Wear</th><td>{{metadata.wear}}</td>
            </tr>
            <tr>
                <th></th><td><input type="submit" value="Confirm"></td>
            </tr>
            </tbody>
        </table>
    </form>
    {% endif %}

  <script>
    function generateProduct() {
      // 獲取表單數據
      var productSeries = document.querySelector('input[name="product_series"]').value;

      //  這裡可以添加你的程式碼，例如：將數據儲存到資料庫、產生檔案等。
      //  目前只是簡單地顯示數據。
      alert("產品系列: " + productSeries + "\nIPFS CID: " + ipfsCid);
    }
  </script>
  {%include 'belowBar.html'%}
</body>
</html>