<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Better Item Trade Plaform</title>
</head>
<body>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search Asset By Name" />
        <button class="ButtonBase" id="searchButton">Search</button>
    </div>

    
    <table id="results">
        <tr><th >Asset Name</th><th style="width:450px;">Address</th><th style="width:150px;">Owner</th><th style="width:80px;">Price</th><th width=70px></th></tr>
        {% if data.results %}
            {% for result in data.results %}
                {%include 'SearchResult.html'%}
            {% endfor %}
        {% else %}
            <tr id="result-item">
                <td colspan=4>There are currently no related assets.</td>
            </tr>
        {% endif %}
    </table>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {%include 'belowBar.html'%}
</body>
</html>